@import 'colors';

main.user-page {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  height: 100%;
  width: 1100px;

  section.user-content {
    display: flex;
    height: 260px;
    background: #518489; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #518489 0%, #343a59 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #518489 0%,#343a59 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #518489 0%,#343a59 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    div.user-avatar-box {
      justify-content: center;
      align-items: center;
      display: flex;
      flex: 1;

      div.user-avatar {
        justify-content: center;
        align-items: flex-end;
        display: flex;
        height: 185px;
        width: 185px;
        border-radius: 50%;
        background: #518489; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #518489 0%, #343a59 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #518489 0%,#343a59 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #518489 0%,#343a59 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


        span {
          margin: 0 0 5px 0;
        }
      }
    }


    span {
      background: white;
      opacity: 0.8;
      color: black;
      padding: 5px 10px;

      &:last-child {
        margin-right: 20px;
      }
    }

    ul.user-page-info {
      display: flex;
      flex: 3.5;
      align-items: baseline;
      justify-content: space-between;

      li {
        background: $almost-black;
        padding: 5px 10px;
        margin: 20px;
        span {
          color: white;
          background: $almost-black
        }
      }

    }
  }
}
