div.collection-page {

  ul.collection-nav {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid lavender;
    font-size: 20px;

    li {
      margin-right: 20px;
    }
  }
}
