@import 'colors';

div.comment-creation {
  margin: 20px;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid lavender;

  div.comment-input {
    height: 40px;
    display: flex;
    align-items: center;
    background: $light-gray;
    border: 1px solid lavender;
    margin-bottom: 8px;

    img {
      min-width: 40px;
      max-width: 40px;
      height: 100%;
    }

    input {
      height: 30px;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      padding: 5px;
      outline: none;
      margin: 0 5px;

      &::-webkit-input-placeholder {
        color: $gray;
        font-family: Hind;
      }
    }
  }

  ul.comment-options {
    display: flex;
  }
}
