@import 'colors';

img {
  max-width: 100%;
  height: auto;
}

div.homepage {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  section.homepage-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
    background: white;
    height: 100%;
    padding-bottom: 50px;

    h1 {
      font-weight: 400;
      color: $almost-black;
      margin-bottom: 30px;
    }

    input {
      width: 80%;
      margin: auto;
      font-size: 16px;
      padding: 15px 20px;
      margin: 50px 0;
      border: none;
      border-radius: 5px;
      background: $light-gray;
      color: gray;
      font-weight: 300;

      &:focus {
        outline: none;
      }
    }

    ul.homepage-songs {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li.song-show {
        max-width: 170px;
        min-width: 170px;
        margin: 10px;

        &:hover {
          cursor: pointer;
        }

        img {
          width: 100%;
          height: 170px;
        }
      }
    }
  }
}

li.song-show {

  span:hover {
    text-shadow: 0 0 0 black;
    cursor: pointer;
  }

  p:hover {
    color: gray;
    cursor: pointer;
  }
}

div.homepage-logo {
  position: relative;
  top: 5px;
  left: 10px;
  background-image: asset-url('vibe.png');
  background-size: contain;
  height: 90px;
  width: 130px;
}

.homepage-description {
  display: flex;
  height: 100%;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-weight: 300;
    font-size: 34px;
    margin: 10px;
    color: white;
  }

  span {
    color: white;
    font-family: Source Sans Pro;
    font-size: 18px;
    width: 400px;
  }
}


main.homepage-info {
  background-image: asset-url('homepage.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  border-spacing: 0;
  font-family: Open Sans;
  font-size: 16px;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button.login {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 6px 15px;
  font-size: 14px;
  transition: box-shadow 0.3s, text-shadow 0.3s;
}

button.login:hover {
  box-shadow: 0 0 5px white, 0 0 5px white inset;
  border-radius: 5px;
  text-shadow: 0 0 2px white;
}

button.signup {
  background: $orange;
  color: white;
  border-radius: 5px;
  font-weight: 300;
  padding: 5px 15px 6px 15px;
  font-size: 14px;
  transition: text-shadow 0.3s;
}

button.signup:hover {
  text-shadow: 0 0 2px white;
}

button:focus { outline:0 }


header {
  display: flex;
  justify-content: space-between;

  p {
    padding: 5px;
  }

  ul {
    display: flex;

    li {
      padding: 5px;
      margin: 5px;
    }
  }
}

p {
  font-size: 14px;
  color: darkgray;
}
