@import 'colors';

aside.loggedhome-sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-left: 1px solid lavender;
  margin: 20px 2px 20px 20px;
  padding: 0 20px;

  span {
    color: gray;
    margin-top: 30px;
    padding: 0px 10px 5px 10px;
    border-bottom: 1px solid lavender;
    font-size: 15px;
  }

  span.follow {
    background-image: asset-url('follower.png');
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    padding-left: 25px;
  }

  span.like {
    background-image: asset-url('gray-heart.png');
    background-size: contain;
    background-position: 0 -2px;
    background-repeat: no-repeat;
    padding-left: 25px;
  }

  div.chart-box {
    border: 1px solid lightgray;
    background: $light-gray;
    height: 200px;
    width: auto;
  }


  li.artist-suggestion, li.song-suggestion {
    display: flex;
    flex-direction: column;

    li.sidebar-user {
      display: flex;
      align-items: center;
      margin: 10px 0;

      img {
        margin: 5px;
        margin-right: 10px;
        height: 55px;
        width: 55px;
        border-radius: 50%;
      }

      ul.sidebar-user-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        h4 {
          font-weight: 400;
        }

        ul.sidebar-user-options {
          display: flex;
          justify-content: space-between;
          align-items: center;

          li {
            background-image: asset-url('follower.png');
            background-size: contain;
            background-position: left;
            background-repeat: no-repeat;
            font-size: 12px;
            color: gray;
            padding-left: 20px;
          }

          button {
            border: 1px solid $light-gray;
            border-radius: 3px;
            font-size: 12px;
            color: darkgray;

            &:hover {
              border: 1px solid lightgray;
            }
          }
        }
      }
    }

    li.sidebar-song {
      display: flex;
      align-items: center;
      margin: 10px 0;

      img {
        margin: 5px;
        margin-right: 10px;
        height: 55px;
        width: 55px;
      }

      ul.sidebar-song-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        h4 {
          font-weight: 400;
          line-height: 1.4;
        }

        p {
          font-family: Hind;
          line-height: 1;
        }

        ul.sidebar-song-options {
          margin-top: -8px;
          align-items: center;
          display: flex;
          justify-content: space-between;

          li:first-child {
            background-image: asset-url('gray-heart.png');
            background-size: contain;
            background-position: left;
            background-repeat: no-repeat;
            font-size: 12px;
            color: gray;
            padding-left: 20px;
          }
        }
      }
    }
  }
}
