div.loggedhome {
  position: relative;
}

header.loggedhome-header {
  height: 45px;
  width: 100%;
  background: rgb(54, 54, 54);
  color: white;

  position: fixed;
  top: 0;
  left: 0;

  nav.navigation {
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

div.nav-space {
  height: 45px;
  width: 100%;
  background: transparent;
}

input.home-search {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 5px 4px;
  background-repeat: no-repeat;
  padding: 5px 20px 6px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input.home-search:focus {
    width: 50%;
}

main.loggedhome-body {
  width: 1000px;
  margin: 0 auto;
  display: flex;

  ul.loggedhome-songs {
    flex: 5
  }

  aside.loggedhome-sidebar {
    flex: 2
  }
}

ul.song-info {
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

  ul.song-play-info {
    display: flex;

    img {
      height: 45px;
      width: 45px;

    }

    img:hover {
      cursor: pointer;
    }

  }
}

li.song-container {
  display: flex;
  height: 150px;
  margin: 10px;
  font-weight: 300;

  img {
    width: 150px;
    margin-right: 10px;
    background-size: cover;
  }

  span {
    font-size: 16px;
    line-height: 0;
    color: gray;
  }

  h3 {
    line-height: 0.5;
    font-weight: 400;
    color: rgb(50, 50, 50);
  }
}

li.song-detail {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;

    li {
      width: 20px;
      height: 20px;

      border: 1px solid lavender;
      border-radius: 5px;
      padding: 1px 2px;
      margin: 5px;
    }
  }

  ul:first-child li:hover {
    border: 1px solid lightgray;
    cursor: pointer;
  }

  ul:last-child li {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: gray;
  }
}
