@import "colors";

#music-player {
  background-color: rgb(230, 230, 230);
  border-top: 1px solid gray;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  position: fixed;
  bottom: -50px;
  z-index: 999;
  transition: transform 1s;

  .inner {
    display: flex;
    position: relative;
    max-width: 1100px;
    padding: 0;
    margin: 0 auto;
  }
}

#music-player.active {
  transform: translateY(-50px);
}

.controls {
  width: 170px;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.play-bar {
  height: 35px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.song-content {
  width: 220px;
  height: 45px;
  float: left;
  display: flex;
  justify-content: flex-start;
}

.controls {
  vertical-align: top;

  img {
    vertical-align: middle;
    height: 25px;
    width: 25px;
    margin: 0 15px;

  }

  img.play-pause {
    margin-top: 1px;
    height: 23px;
    width: 23px;
  }

  img:hover {
    cursor: pointer;
  }

}

.play-bar {

  span { //Text properties of the numbers
    color: gray;
    font-size: .8em;
    align-self: center;
    margin: 0 5px
  }

  .bar-box{
    padding: 5px 0;
    width: 100%;
    align-self: center;
    margin: 0;

    .bar-bg { //Background of the progress bar
      background-color: silver;
      width: 100%;
      height: 1px;

      .progress { //Actual progress bar
        background-color: $dark-orange;
        padding-top: 1px;
        border-radius: 10px;
        width: 0%;
      }
    }
  }

  span#time {
    color: $orange;
  }

  .bar-box:hover {
    cursor: pointer;
  }

}

.song-content {

  .user-info {
    display: flex;
    justify-content: flex-start;

    .img-wrapper { //Song cover image
      width: 30px;
      height: 30px;
      margin-top: 2px;
      margin-right: 10px;

      img {
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
      }
    }

    .song-info { //Song information text
      padding: 0;
      align-self: center;
      margin-top: -13px;
      text-align: left;

      .artist {
        display: inline-block;
        color: $gray;
        font-size: .8em;
        line-height: 1.2;
        display: block;

        &:hover {
          color: gray;
          cursor: pointer;
        }
      }

      .song {
        color: $almost-black;
        font-size: .8em;
        line-height: 1.2;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
          text-shadow: 0 0 0 black;
          cursor: pointer;
        }
      }
    }
  }
}
