html, body, h1, h2, h3, h4, h5, h6, p, span, ul, li, a, div, main,
section, aside, header, footer, nav {
  margin: 0;
  border: 0;
  padding: 0;

  font-family: Open Sans;
}

ul, li {
  list-style: none;
}

body {
  background: rgb(240,240,247);
}
