@import 'colors';

div.search-page, div.collection-page {
  width: 1000px;
  min-height: 600px;
  height: 100%;
  margin: 0 auto;
  background: white;
  padding: 50px;
  align-items: center;

  h1 {
    line-height: 1;
    font-weight: 300;
    font-size: 30px;
    font-family: Hind;
    border-bottom: 1px solid lavender;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    margin-left: 10px;
  }

  ul.search-results, ul.collection-results {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin-right: 0;

    li.search-show, li.collection-show {
      width: 168px;
      height: 240px;
      margin: 15px;

      img {
        width: 100%;
        height: 168px;

        &:hover {
          cursor: pointer;
        }
      }

      span {
        width: 168px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span:hover {
        cursor: pointer;
        text-shadow: 0 0 0 black;
      }
    }
  }
}
