@import 'colors';

div.search-page {
  width: 1000px;
  min-height: 600px;
  height: 100%;
  margin: 0 auto;
  background: white;
  padding: 50px;
  align-items: center;

  h1 {
    line-height: 1;
    font-weight: 300;
    font-size: 30px;
    font-family: Hind;
    border-bottom: 1px solid lavender;
    margin-bottom: 10px;
  }

  ul.search-results {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin-right: 0;

    li.search-show {
      width: 168px;
      height: 240px;
      margin: 15px;

      img {
        width: 100%;
        height: 168px;

        &:hover {
          cursor: pointer;
        }
      }

      span:hover {
        cursor: pointer;
        text-shadow: 0 0 0 black;
      }
    }
  }
}
