@import 'colors';

main.song-page {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  height: 100%;
  width: 1200px;

  section.song-page-bottom {
    display: flex;
    background: white;
    margin-bottom: 50px;

    ul.song-page-bottom-main {
      flex: 2;
      display: flex;
      flex-direction: column;
    }

    ul.song-page-bottom-side {
      flex: 1;
      margin: 20px 0;
      padding: 0 20px;
      border-left: 1px solid lavender;
    }

    div.comment-creation {
      flex-grow: 1;
      margin: 20px;
      padding: 10px 0 20px 0;
      border-bottom: 1px solid lavender;

      input {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        padding: 5px;
        outline: none;
      }
    }
  }
}

ul.song-page-bottom-info {
  display: flex;

  ul.artist-info {
    flex: 1;
    margin: 20px;
  }

  ul.comments {
    flex: 3;

    li.song-description {
      height: 150px;
      margin-right: 15px;
    }

    li.song-comments {
      margin-bottom: 15px;
      margin-right: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid lavender;

      img {
        width: 30px;
      }
    }
  }
}

li.single-comment {
  display: flex;
  height: 60px;

  img {
    width: 50px;
    border-radius: 50%;
    margin: 5px 15px 5px 5px;
  }

}

section.song-content {
  display: flex;
  width: 100%;
  height: 380px;

  background: #f2a965; /* Old browsers */
  background: -webkit-linear-gradient(left, #f2a965 0%,#ef4d13 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f2a965 0%,#ef4d13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

section.song-content > ul {
  display: flex;
  height: 380px;
  width: 100%;

  li.song-page-info {
    flex: 2.25;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;

    ul.song-header {
      display: flex;

      > li {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      div.play-image {
        height: 65px;
        width: 65px;
        border-radius: 50%;
        background: $orange;
        background-image: asset-url('white-play.ico');
        background-size: contain;
      }

      div.play-image:hover {
        background: $dark-orange;
        background-image: asset-url('white-play.ico');
        background-size: contain;
        cursor: pointer
      }

      ul.song-title {
        margin-left: 10px;
        display: flex;
        flex-direction: column;

        li {
          display: inline;
          color: white;
          margin: 5px;

          span {
            display: inline;
            padding: 2px 8px;
            background: $dark-gray;

          }
        }

        li:last-child {
          font-size: 24px;
          line-height: 0.6;
          margin: 10px 5px;
          padding-top: 4px;
        }

        li:first-child {
          font-weight: 300;
          font-size: 17px;
        }
      }
    }
  }

  li.song-page-image {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 15px;


    img {
      height: 350px;
      width: 350px;
    }
  }
}

ul.comments {

}
