@import 'colors';

main.song-page {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  display: flex;
  height: 400px;
  width: 1000px;
  background: beige;
}

section.song-content {
  display: flex;
  width: 100%;
  height: 400px;

  background: #f2a965; /* Old browsers */
  background: -webkit-linear-gradient(left, #f2a965 0%,#ef4d13 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f2a965 0%,#ef4d13 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

section.song-content > ul {
  display: flex;
  height: 400px;
  width: 100%;

  li.song-page-info {
    flex: 1.55;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;

    ul.song-header {
      display: flex;

      div.play-image {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background: $orange;
      }

      ul.song-title {
        margin-left: 10px;

        li {
          font-size: 30px;
        }

        li:first-child {
          font-weight: 300;
          font-size: 20px;
        }
      }
    }
  }

  li.song-page-image {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 15px;


    img {
      height: 100%;
      width: 100%;
    }
  }
}
