@import 'colors';

ul.song-info {
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

  ul.song-play-info {
    display: flex;

    ul.song-play-name {
      flex-grow: 1;

      li { line-height: 1.05}

      span:hover {
        cursor: pointer;
      }
    }

    div.song-play-icon {
      background: $orange;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 5px;
    }

    div.song-play-icon:hover {
      background: $dark-orange;
    }

    img {
      height: 40px;
      width: 40px;
    }

    img:hover {
      cursor: pointer;
    }

  }
}

li.song-container {
  display: flex;
  height: 150px;
  margin: 40px 20px;
  font-weight: 300;

  > img {
    width: 150px;
    margin-right: 10px;
    background-size: cover;
    border: 1px solid $light-gray;
  }

  img:hover {
    cursor: pointer;
  }

  span {
    color: gray;
  }

  span.song-artist {
    font-size: 14px;
  }

  span.song-title {
    font-weight: 400;
    color: rgb(50, 50, 50);
    font-size: 18px;

    &:hover {
      cursor:pointer;
    }
  }

  span.song-genre {
    height: 35%;
    color: white;
    font-size: 12px;
    background: gray;
    border-radius: 10px;
    padding: 2px 9px 3px 9px;

    &:hover {
      cursor: auto;
    }
  }
}

li.song-detail {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;

    li {
      height: 17px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      border: 1px solid lavender;
      border-radius: 5px;
      margin: 3px;

      &:hover {
        cursor: pointer;
      }

      div.comment-icon {
        height: 100%;
        width: 17px;
        background-image: asset-url('comment.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 3px;
      }

      span.song-options {
        font-size: 13px ;
        color: black;
        padding-bottom: 1px;
      }

      ul.song-options-dropdown {
        display: none;
        position: absolute;
        padding: 0;
      }

      ul.active {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 3px;
        border: 1px solid lavender;
        top: 25px;
        left: 10px;

        a.song-options-item {
          padding: 5px 10px;
          border-radius: 0px 0 0 0;
          font-size: 12px;
          text-decoration: none;

          &:hover {
            border: none;
            border-radius: 0px;
            background: lavender;
          }

          li:hover{
            border: none;
          }
        }
      }
    }
  }

  ul:last-child li {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: gray;
    align-items: center;

    span {
      font-size: 12px;
    }

    img {
      margin-right: 0;
    }
  }
}
