@import 'colors';

section.upload-main {
  width: 1100px;
  height: 800px;
  background-image: asset-url('upload-bg.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 auto;


  div.upload-info {
    width: 700px;
    height: 100px;
    margin: 0 auto;
    background: transparent;
  }

  div.upload-box {
    width: 750px;
    height: 350px;
    margin: 0 auto;
    border-radius: 5px;
    background: white;
    border: 1px solid lavender;
    transition: height 0.3s;

    ul {
      display: flex;
      justify-content: center;

      button {
        margin: 0 5px;
        height: 40px;
        font-size: 14px;
        font-weight: 400;

        &:hover { text-shadow: none; }
      }

      button.login {
        border: 1px solid lightgray;
        color: $dark-gray;
      }
    }

    ul.dropzone {
      margin-top: 90px;
    }

    h1 {
      padding-top: 30px;
      font-weight: 400;
      font-size: 30px;
    }

    div.upload-buttons {
      display: flex;
      width: 50%;
      justify-content: flex-end;
      align-self: flex-end;
      margin: 10px 0;

      button {
        height: 30px;

        &.signup { border: none }
      }
    }

    ul.upload-song {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 30px;

      h1 {
        padding: 0 0 5px 0;
        margin-bottom: 25px;
        border-bottom: 1px solid lightgray;
        font-size: 25px;
      }

      ul.upload-song-description {
        display: flex;
        justify-content: space-around;

        li.upload-image-box {
          position: relative;
          height: 200px;
          width: 200px;
          background: gray;

          img {
            height: 100%;
            overflow-x: hidden;
          }

          button.upload-image {
            position: absolute;
            background: lightgray;
            bottom: 10px;
            left: 44px;
            height: 25px;
            opacity: 0.8;
            font-size: 14px;
            transition: background 0.2s;

            &:hover { background: white; cursor: pointer }
          }
        }

        ul.upload-song-info {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          margin-left: 30px;
          font-size: 14px;

          input {
            margin: 5px 0;
            border: 1px solid lightgray;
            border-radius: 3px;
            padding: 3px;
            transition: border 0.3s;

            &:focus{
              outline: none;
              border: 1px solid gray;
            }
          }

          ul.upload-song-detail {
            display: flex;
            align-items: center;

            li {
              display: flex;
              flex-direction: column;
              flex-grow: 1;

              &:first-child { margin-right: 10px;}
            }

            input {
              flex-grow: 1;

              &.upload-date { padding: 1px 3px; }
            }


          }

          textarea {
            resize: none;
            margin-top: 5px;
            border-radius: 3px;
            border: 1px solid lightgray;
            transition: border 0.3s;

            &:focus {
              outline: none;
              border: 1px solid gray;
            }
          }
        }
      }
    }
  }

  div.active {
    height: 450px;
  }
}
