@import 'colors';

main.user-page {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  height: 100%;
  width: 1100px;

  section.user-content {
    display: flex;
    height: 260px;
    background: #518489; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #518489 0%, #343a59 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #518489 0%,#343a59 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #518489 0%,#343a59 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    div.user-avatar-box {
      justify-content: center;
      align-items: center;
      display: flex;
      flex: 1;

      div.user-avatar {
        justify-content: center;
        align-items: flex-end;
        display: flex;
        height: 185px;
        width: 185px;
        border-radius: 50%;
        background: #518489; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #518489 0%, #343a59 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #518489 0%,#343a59 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #518489 0%,#343a59 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


        span {
          margin: 0 0 5px 0;
        }
      }
    }


    span {
      background-image: asset-url('camera.png');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 8px 5px;
      background-color: lightgray;
      color: black;
      padding: 5px 10px 5px 35px;
      border-radius: 3px;
      border: 1px solid gray;
      transition: background-color 0.3s;

      &:last-child {
        margin-right: 20px;
      }

      &:hover {
        cursor: pointer;
        background-color: white;
      }
    }

    ul.user-page-info {
      display: flex;
      flex: 3.5;
      align-items: baseline;
      justify-content: space-between;

      li {
        background: $almost-black;
        padding: 5px 0px;
        margin: 20px;

        span {
          color: white;
          margin: 0;
          padding: 0 10px;
          font-size: 24px;
          background: transparent;
          border: none;

          &:hover { cursor: none }
        }
      }

    }
  }
}

section.user-page-bottom {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;

  ul.user-page-nav {
    display: flex;
    margin: 15px 25px 0px 25px;
    border-bottom: 1px solid lavender;

    li {
      padding: 5px 10px 5px 0;
      margin-right: 10px;
      font-size: 18px;

      a {
        padding-bottom: 5px;
      }

      a:hover {
        z-index: 10;
        border-bottom: 1px solid orange;
        cursor: pointer;
      }
    }
  }

  ul.user-page-bottom-content {
    display: flex;
    min-height: 500px;

    ul.user-page-songs {
      flex: 2.5;
    }
  }
}
