li.waveform {
  height: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  div.waveform-background{
    position: relative;

    img {
      // position: absolute;
      position: relative;
      height: 60px;
      width: 490px;
      z-index: 999;
    }

    div.waveform-bar {
      width: 5%;
      height: 20px;
      background: orange;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1;
    }
  }
}
